<!-- <app-header></app-header> -->
<!-- <div>
    <h1>View All Events</h1>
    <h2>Search For Events <a routerLink="/searchresults" >Here</a></h2>
</div>
<div>
    <div>
        <div>
            <p *ngIf="alphabetizedByName == 0">No events to display.</p>
        </div>
        <table class="table table-striped table-dark">
            <thead>   
                <tr>
                    <th scope="col">Event Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Location Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                    <th scope="col">Cost</th>
                    <th scope="col">Family Friendly</th>
                    <th *ngIf="isUserLoggedIn()" scope="col">Action</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let event of alphabetizedByName">
                    <td>{{ event.name }}</td>
                    <td>{{ event.description }}</td>
                    <td>{{ event.locationName}}</td>
                    <td>{{ event.address }} {{ event.city }}, {{ event.state }} {{ event.zipCode }}</td>
                    <td>{{ event.date.month }}/{{ event.date.day }}/{{ event.date.year }}</td>
                    <td >{{ displayTime(event.time) }} {{ resetValues() }}</td>    
                    <td [hidden]="event.entryCost === '0'">${{ event.entryCost }}</td>
                    <td [hidden]="event.entryCost !== '0'">Free Entry!</td>
                    <td [hidden]="event.familyFriendly === false"><fa-icon [icon]="faThumbsUp" [styles]="{'color': 'green'}"></fa-icon></td>
                    <td [hidden]="event.familyFriendly === true"><fa-icon [icon]="faThumbsDown" [styles]="{'color': 'red'}"></fa-icon></td> 
                    <td>
                        <button class="badge badge-success mr-2" *ngIf="isUserLoggedIn()" routerLink="/edit-events/{{event.eventId}}" routerLinkActive="active">Edit</button><br>
                        <button class="badge badge-danger mr-2" *ngIf="isUserLoggedIn()" (click)="deleteEvent(event.eventId)">Delete</button></td>               
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div></div> -->
<head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 8
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=
    async defer></script>
  </body>


